* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: whitesmoke;
}

h1 {
    color: red;
    text-align: center;
    font: 5.5em Questrial;
    font-weight: bold;
    padding-bottom: 4vh;
}

h2 {
    color: red;
    text-align: center;
    font: 2.5em Questrial;
    line-height: 0;
    padding-bottom: 3vh;
}

h3 {
    font: 1.4em Arial;
    margin-bottom: 1vh;
    margin-top: 0;
}

h4 {
    color: gray;
    font: 1.2em Arial;
    margin-bottom: 1.2vh;
    margin-top: 0;
}

h5 {
    color: darkgray;
    font: 1.2em Arial;
    margin-bottom: 1vh;
    margin-top: 0;
}

p {
    text-align: left;
    font: 1.3em Arial;
    color: #545454;
    line-height: 1.5;
}

li {
    text-align: left;
    font: 1.15em Trebuchet MS;
    line-height: 5vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.quote {
    color: #888888;
    font-family: Times New Roman, Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 2em;
}

#navbar-container {
    position: fixed;
    top: 0;
    text-align: center;
    background-color: black;
    border-bottom: 0.3em solid darkred;
    width: 100%;
}

.navbar {
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    font: 1.1em Montserrat;
    text-align: center;
    padding: 1.3vh 1.7vw;
    text-decoration: none;
}

.navbar a:hover {
    color: orangered;
}

.navbar #burgerIcon {
    display: none;
}

#main {
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    flex-flow: column;
}

.row {
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    padding: 8vh 4vw 8vh 4vw;
}

.row:not(:last-child) {
    box-shadow: 0 23px 10px -18px lightgray;
}

#home {
    background-image: url(../assets/images/background.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11vh 4vw 6.3vh 4vw;
    min-height: 100vh;
}

#home a {
    font: 1.5em Montserrat;
    font-weight: bold;
    line-height: 6vh;
    color: white;
    display: table;
    margin: 0 auto;
}

#home a:hover {
    color: darkred;
}

#contact a, #contact p {
    color: black;
    font: 1.3em Trebuchet MS;
}

#contact .right img {
    display: inline-block;
    position: relative;
    top: 15px;
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

#contact .right img:hover {
    filter: invert(0.6) sepia(4) saturate(17000%) hue-rotate(0deg) opacity(80%);
}

#contact table {
    text-align: center;
    margin: 0 auto;
    width: 30vw;
    min-width: 300px;
    max-width: 400px;
}

#contact {
    text-align: center;
}

.left {
    flex: 1 1 70%;
    /*padding-right: 4vw;*/
    /*background: rgba(200, 0 , 0, 0.2);*/
}

.right {
    flex: 1 1 70%;
    /*padding-left: 4vw;*/
    /*background: rgba(200, 0 , 0, 0.3);*/
}

.image {
    flex: 1 1 30%;
    /*padding-top: 47.5vh;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*background: rgba(200, 0 , 0, 0.4);*/
}

.image img {
    max-height: 36vh;
}

.even .image {
    padding-right: 4vw;
}

.odd .image {
    padding-left: 4vw;
}

.box {
    padding: 2vh 1vw 1vh 1vw;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px lightgray;
}

.box p {
    line-height: 1.2;
    margin-bottom: 1vh;
}

.box a:hover {
    color: red;
}

#footer {
    background-color: black;
    margin: 0 auto;
    padding: 1.3vh;
    color: orangered;
    font: 1.1em Montserrat;
    text-align: center;
}

#footer a {
    color: orangered;
}

#footer a:hover{
    color: white;
}

/*MOBILE RESPONSIVENESS*/
@media all and (max-width: 960px) {

    #navbar-container {
        text-align: unset;
    }

    .navbar {
        overflow: hidden;
    }

    .navbar a {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a#burgerIcon {
        float: right;
        display: block;
    }

    .navbar.responsive {
        width: 100%;
        opacity: 0.85;
        position: fixed;
        top: 0;
        border-bottom: 0.3em solid darkred;
    }

    .navbar.responsive a#burgerIcon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .row {
        display: flex;
        flex-flow: column;
    }

    .left {
        order: 2;
        padding: 0;
    }

    .right {
        order: 2;
        padding: 0;
    }

    .image {
        order: 1;
        padding: 0;
        max-height: 9vh;
    }

    .even .image {
        padding-right: 0;
    }

    .odd .image {
        padding-left: 0;
    }

    .image img {
        max-height: 10vh;
    }

}

@media all and (max-width: 450px) {

    h1 {
        color: #FF3B3F;
        text-align: center;
        font: 4em Helvetica;
        font-weight: bold;
    }

}
/* */

/*BIGGER COMPUTER SCREEN RESPONSIVENESS*/
@media all and (min-width: 2304px) {

    #main {
        max-width: 1800px;
    }

}

@media all and (min-width: 2560px) {

    #main {
        max-width: 2000px;
    }

}

@media all and (min-width: 2880px) {

    #main {
        max-width: 2250px;
    }

}

@media all and (min-width: 3000px) {

    #main {
        max-width: 2344px;
    }

}

@media all and (min-width: 3200px) {

    #main {
        max-width: 2500px;
    }

}

@media all and (min-width: 3840px) {

    #main {
        max-width: 3000px;
    }

}
/* */